.main-navigation{
    .menu-left{
        .menu-menu-1-container{
            ul{
                li{
                    a{
                        font-size: 52px;
                        font-weight: 200;
                    }
                }
            }
        }
    }
    .menu-right{
        .menu-menu-2-container{
            ul{
                li{
                    a{
                        font-size: 36px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}